.row
  .col-md-8.col-md-offset-2
    %h2
      Pellet
    %hr.article-hr
.row
  .col-md-11.col-md-offset-1.justify.row
    .col-md-6.imagebox.pull-right
      %img{src: 'assets/pellet.jpg'}
    Pellet jest to granulat do opału, który ma małą wilgotność i doskonale się nadaje do ogrzewania powierzchni zarówno tych mniejszych, jak domki, jak i hale produkcyjne. Niewątpliwą zaletą pelletu jest jego dobra kaloryczność względem ceny, jednak przede wszystkim
    %strong pewna
    kaloryczność. Pellet pakowany jest do worków, które muszą spełniać szereg norm, dzięki czemu nie traci swej kaloryczności ze względu na niekorzystne warunki zewnętrzne, jak to się dzieje w przypadku węgla. Dodatkowo wytwarza minimalną ilość popiołu i musi przejść szereg analiz w kierunku posiadania niepożądanych „dodatków”, żaden inny opał nie może się pochwalić taką ilością norm w przechowywaniu i pakowaniu, jaką posiada pellet. Dzięki temu można być pewnym produktu i nie trzeba się obawiać wahań w kaloryczności, jakie tak często nękają palących węglem, czy groszkiem.