.row
  .col-md-8.col-md-offset-2
    %h2
      Zalety pelletu
    %hr.article-hr
.row
  .col-md-11.col-md-offset-1.justify.row
    %p
      To chyba najczęściej porównywane paliwa do pelletu. Jakie są podstawowe różnice? Ekogroszek to nic innego jak węgiel, stąd pomijamy rozróżnienie tych dwóch paliw. 
    %p
      %strong Kaloryczność:
      Mówi się o niezwykle wysokiej kaloryczności węgla. Owszem, czysty węgiel posiada większą kaloryczność od pelletu, ale prawda jest taka, że doprawdy szansa na zakup faktycznie czystego węgla, który składowany był w warunkach, gdzie nie był poddany wilgoci, czy wpływowi warunków atmosferycznych jest minimalna. W praktyce węgiel i ekogroszek składowane na wolnym powietrzu tracą nawet 25% swojej pierwotnej kaloryczności, więc zasadniczo opłacalność palenia pochodnymi węgla spada drastycznie. Pellet przechowywany jest w szczelnych plastikowych workach, które zapobiegają negatywnym wpływom warunków zewnętrznych na jego kaloryczność. 
    %p
      %strong Wilgotność:
      Ponad to węgiel posiada nawet 20% wilgotności, co oznacza tyle, że kupując 25kg węgla, kupujesz w praktyce 20kg węgla i 5-litrowy baniak z wodą. Płacimy zasadniczo za dużą ilość wody, a piec potrzebuje spalić dodatkową energię na osuszenie paliwa, kiedy to produkcja faktycznej energii cieplnej, za jaką płacimy jest minimalna. Warto też wspomnieć, że mokry ekogroszek powoduje korozję zasobnika i kotła. Pellet natomiast posiada max 6% wilgotności, czyli zasadniczo co najmniej trzykrotnie mniej niż może pochwalić się chociażby drewno kominkowe. 

    %p
      %strong Odpady:
      Producenci ekogroszku często niestety przekłamują mówiąc o 3% zawartości popiołu w ich produkcie, otóż w praktyce posiada między 8% a aż 15% popiołu, a wynikiem spalania jest żużel, co dla użytkownika oznacza tyle, że na każdą tonę paliwa musi zorganizować wywóz aż 100kg popiołu, w przypadku pelletu zawartość popiołu to ok. 0,24%, co oznacza, że z tony pelletu powstaje jedynie 2,5kg popiołu. Taką ilość swobodnie możemy użyć, jako nawozu do ogródka. 

    %p
      %strong Czystość:
      Nieszczelne worki ekogroszku powodują skrajny bałagan w kotłowniach, sam palacz niestety często przypomina górnika. Kotłownia węglowa pokryta jest grubą warstwą gryzącego pyły węglowego, jeżeli mieliśmy szczęście i trafiliśmy suchy węgiel, w przypadku mokrego tworzy się trudne do usunięcia błoto węglowe. Sam piec bardzo szybko zakłada na siebie płaszcz pyłów i popiołów, co skutkuje częstym czyszczeniem. Pellet to nic innego jak sprasowana trocina. Jest suchy, stąd przy wsypywaniu do zasobnika może wystąpić uniesienie się chmurki kurzu drzewnego o przyjemnym leśnym zapachu. Samo czyszczenie pieca wymagane jest jedynie kilka razy w sezonie, a przy obecnej tendencji samoczyszczących się kotłów często nawet rzadziej. Przy tym popiołu jest niewiele, a każdorazowa wizyta w kotłowni nie powoduje konieczności kąpieli palacza. 
    %p
      %strong Ekologia:
      Spalanie węgla powoduje emisję dwutlenku węgla i dużej ilości siarki. Do atmosfery dostają się także niewielkie ilości pierwiastków radioaktywnych, stąd tendencja Zachodu Europy do odchodzenia od tej formy pozyskiwania energii cieplnej. Popioły ze spalania węgla są toksyczne i udowodniono ich negatywny wpływ na drogi oddechowe palacza. Pellet jest paliwem odnawialnym, jego spalanie generuje minimalne ilości CO2, a niewielkie ilości popiołu z powodzeniem mogą służyć, jako doskonały nawóz do kwiatów ogrodowych. 