.row
  .col-md-8.col-md-offset-2
    %h2
      Pellet a inne paliwa
    %hr.article-hr
.row
  .col-md-11.col-md-offset-1.justify.row
    %p
      Często pojawiają się pytania odnośnie opłacalności palenia pelletem w porównaniu do innych paliw. Postanowiliśmy więc dokładnie przyjrzeć się różnicom w cenie, jakości, kaloryczności i wygody pelletu. Przedstawiamy poniżej porównanie paliw na rynku.
    %table.table
      %thead
        %tr
          %th 
          %th kaloryczność
          %th wilgotność
          %th cena za MJ
      %tbody
        %tr
          %th ekogroszek/węgiel
          %td 14-24 MJ/kg
          %td 15%
          %td 0.35 - 0.60zł
        %tr
          %th olej opałowy
          %td 42 MJ/kg
          %td 55mg/kg
          %td 1.03zł
        %tr
          %th gaz
          %td
            39 MJ/m
            %sup<> 3
          %td -
          %td 0.50zł
        %tr
          %th pellet
          %td 20 MJ/kg
          %td 6%
          %td 0.37zł