.row
  .col-md-8.col-md-offset-2
    %h2
      Proces produkcji
    %hr.article-hr
.row
  .col-md-11.col-md-offset-1.justify.row
    %strong Surowiec
    %p
      Na pierwszym etapie produkcji pelletu decydujemy, jaki surowiec będzie naszym źródłem energii. Wielkim królem wśród surowców jest oczywiście drewno, które daje zdecydowanie największą kaloryczność, aczkolwiek pellet jako taki można produkować z praktycznie każdego rodzaju rośliny (np. słonecznika, słomy).
    %strong
      Pierwsze suszenie
    %p
      Surowiec jest suszony po raz pierwszy w miejscu „wydobycia”, by wiatr mógł go wstępnie osuszyć z wielkich ilości wilgoci, przy tym zmniejszając jego masę. 
    %strong
      Rozdrabnianie do transportu
    %p
      Nim surowiec znajdzie się w fabryce korzystne jest wstępne rozdrabnianie do łatwiejszego transportu. Nie wpływa to na sam proces produkcji, ale dla nas jest to niezwykłe ułatwienie. Dzięki, między innymi, takim zabiegom możemy oferować tak atrakcyjne ceny. 
    %strong Suszenie
    %p
      Surowiec w postaci zrębki ok.5cm x 5cm ma wilgotność nie mniejszą niż 18%, a to zdecydowanie zbyt mokra biomasa, by móc ją przerobić na pellet, dlatego wówczas należy ją wysuszyć do preferowanej wilgotności. Granulatory nie pracują z tak mokrą biomasą, stąd następuje suszenie, do którego wykorzystywane są zwykle odpady nie nadające się do przerobienia na pellet, czyli np. kora drzewna. Granulatory przyjmują wilgotność poniżej 12%. 
    %strong
      Rozdrobnienie ostateczne
    %p
      Gdy już biomasa jest wysuszona następuje czas rozdrobnienia. Do tego używa się młyna młotkowego, gdzie jakość samego urządzenia jest niezwykle ważna dla całego procesu produkcji, dlatego używamy najwyższej jakości sprzętu renomowanych firm, by zapobiec komplikacji w produkcji, bądź wad w produkcie ostatecznym.  
    %strong Kondycjonowanie
    %p
      Suche trociny o właściwej ziarnistości poddajemy procesowi kondycjonowania, czyli podgrzewaniu trocin w strumieniu pary w temperaturze ok. 120 stopni, w następstwie czego jeden ze składników drewna, lignina, zaczyna mięknąć, ulega częściowej hydrolizie i staje się swoistym klejem. Tak powstała masa trocin jest miękka i skleja się bez dodatkowego lepiszcza. Proces zachodzi w urządzeniu zwanym kondycjonerem. W przypadku materiału innego niż drewno, np. słomy wymagane jest jednak użycie dodatkowego „kleju”, którym zwykle jest melasa. 
    %strong Granulacja
    %p
      Następnie nasz materiał na wysokiej jakości pellet kierowany jest do komory granulatora, gdzie poddawany jest granulacji. Sam proces to przeciskanie masy przez oka matrycy formującej. 
    %strong
      Zmniejszanie temperatury
    %p
      Wysypujący się z granulatora pellet nie jest jednak produktem końcowym, gdyż temperatura trocin jest zbyt wysoka, przez co granulat jest kruchy i podatny na sklejanie się w duże bryły. Chłodzenie zachodzi w chłodziarce, w której to prąd zimnego powietrza skutecznie chłodzi nasz produkt tym samym pozostawiając pellet wysokiej jakości, kaloryczności, o perfekcyjnej granulacji i trwałości. 
    %strong Przechowanie
    %p
      Pellet przechowujemy w miejscach suchych, zadaszonych, tak aby nie było najmniejszej możliwości zawilgotnienia drogocennego biopaliwa. Nasz pellet jest pakowany w szczelne worki spełniające normy UE. 