.row
  .col-md-8.col-md-offset-2
    %h2
      Palniki
    %hr.article-hr
.row
  .col-md-11.col-md-offset-1.justify.row
    .col-md-6.imagebox.pull-right
      %img{src: 'assets/palniki.jpg'}
    W naszej ofercie znajdą Państwo wykonane z najwyższej jakości materiałów (stali żaroodpornych, kwasoodpornych praz nierdzewnych) palniki do pieców. W seriach VIP, UNI i UNI MAX znajdą Państwo ruchomy ruszt, który zapewnia automatyczne czyszczenie palnika. Wszystkie palniki posiadają opcję samoczynnego wyłączania i włączania się przy zaniku energii elektrycznej, co zwiększa bezpieczeństwo ich używania. W celu jednak zapewnienia pełnego bezpieczeństwa w palnikach zainstalowana jest klapa przeciwpożarowa, która zabezpiecza przed cofaniem płomienia, a także czujniki temperatury i zabezpieczenie przed przegrzaniem kotła w przypadku zaniku zasilania. Oferowane palniki posiadają dwuletnią gwarancję. Posiadamy palniki w zakresie mocy od 15kW do 1000kW. Ponad to niedługo w naszej ofercie pojawi się najmocniejszy palnik o mocy 4000kW.
    %p
      %strong
        Nasi fachowcy z chęcią doradzą w doborze palnika. W tym celu kliknij
        %a{href: 'contact'} tutaj
        i uzupełnił formularz o wymiary kotłowni oraz powierzchni grzewczej. Dopasujemy palnik do Twoich potrzeb. 