.row
  .col-md-8.col-md-offset-2
    %h2
      Seria UNI MAX Perfect
    %hr.article-hr
.row
  .col-md-11.col-md-offset-1.justify.row
    .imagebox.small.pull-right
      %img{src:'assets/perfect.jpg'}
    .alternate-img
      %p
        Palniki UNI MAX Perfect to najbardziej zaawansowane technologicznie palniki na rynku. Dzięki ich konstrukcji, a także szerokiemu wachlarzowi mocy mogą być stosowane zarówno w dużych obiektach przemysłowych, jak i w domach jednorodzinnych. Tworzone były z myślą o wygodzie użytkowania, więc są w pełni automatyczne, a dzięki innowacyjnemu systemowi autoczyszczenia paleniska bezobsługowa praca wydłuża się kilkukrotnie. Palniki są przystosowane do spalania pelletu każdej jakości, ale także drobnej sypkiej biomasy o frakcji do 20mm. Zastosowane najnowsze technologie konstrukcyjne, takie jak segmentowy ruchomy ruszt typu schodkowego, zapewniają łatwe czyszczenie, a konserwacja, czy kontrola stanu paleniska nie wymaga użycia żadnych narzędzi i zajmuje jedynie kilka chwil. Posiada wbudowany szwajcarski napęd ruchomego rusztu z 5-cio letnią gwarancją. 
    .imagebox.small.pull-left
      %img{src:'assets/mocperfect.jpg'}
    .alternate-img
      %strong Moc palników serii UNI MAX Perfect
      %p
        Palniki serii UNI MAX Perfect dostępne są w czterech wersjach o różnej mocy:
      %table.table.table-image
        %thead
          %tr
            %td 
              %strong
                Wersja w kW
            %td 100
            %td 150
            %td 200
            %td 250
            %td 300
            %td 500
    .imagebox.small.pull-right
      %img{src:'assets/zaletyperfect.jpg'}
    .alternate-img
      %strong Zalety serii UNI MAX Perfect
      %br
      &#8226; Niski pobór energii elektrycznej – klasa energetyczna A+
      %br
      &#8226; Segmentowy ruszt ze stali żaroodpornej gwarantującej trwałość 
      %br
      &#8226; Schodkowy ruchomy ruszt skutecznie opróżniający palenisko z żużla 
      %br
      &#8226; Palnik rozpoczyna oraz kończy pracę z czystym paleniskiem 
      %br
      &#8226; Ceramiczna komora palnika podnosi i stabilizuje temperaturę spalania 
      %br
      &#8226; Opatentowany system dystrybucji powietrza decyduje o jakości i sprawności spalania
    .imagebox.small.pull-left
      %img{src:'assets/zestawperfect.jpg'}
    .alternate-img
      %strong Skład zestawu UNI MAX Perfect
      %p
        Kompletny palnik ze sterowaniem, czujnikami C.O. i C.W.U., okablowaniem, rura „spiro” do podłączenia palnika z podajnikiem, podajnik standardowej długości 2mb
    .imagebox.small.pull-right
      %img{src:'assets/opcjeuni.jpg'}
    .alternate-img
      %strong Opcje rozszerzające
      %br
      &#8226; sterowanie pokojowe przewodowe lub bezprzewodowe 
      %br
      &#8226; przedłużenie podajnika – nawet do długości 3 mb
      %br
      &#8226; układy autouzupełniania paliwa w zasobniku – mechaniczne, ślimakowe /żmijką/ lub pneumatyczne
      %br
      &#8226; sterownik graficzny marki Plum wraz z dostępem do sterowania przez Internet