.row
  .col-md-8.col-md-offset-2
    %h2
      Seria UNI MAX
    %hr.article-hr
.row
  .col-md-11.col-md-offset-1.justify.row
    .imagebox.small.pull-right
      %img{src:'assets/unimax.jpg'}
    .alternate-img
      %p
        Palniki tej serii charakteryzuje niezawodność, ale przede wszystkim duże możliwości mocy, dzięki którym mogą być stosowane w wielkich obiektach przemysłowych, miejskich kotłowniach, hotelach, ale także w domach jednorodzinnych. Palniki są przystosowane do spalania pelletu każdej jakości, ale także drobnej sypkiej biomasy o frakcji do 20mm. Zastosowane najnowsze technologie konstrukcyjne, takie jak segmentowy ruchomy ruszt typu schodkowego, zapewniają łatwe czyszczenie, a konserwacja, czy kontrola stanu paleniska nie wymaga użycia żadnych narzędzi i zajmuje jedynie kilka chwil. Palnik został zaprojektowany tak, że rozpoczyna i kończy pracę z czystym paleniskiem.
    .imagebox.small.pull-left
      %img{src:'assets/mocunimax.jpg'}
    .alternate-img
      %strong Moc palników serii UNI MAX
      %p
        Palniki serii UNI MAX dostępne są w czterech wersjach o różnej mocy:
      %table.table.table-image
        %thead
          %tr
            %td 
              %strong
                Wersja w kW
            %td 25
            %td 40
            %td 50
            %td 60
            %td 70
            %td 80
            %td 100
            %td 150
            %td 200
            %td 205
            %td 300
            %td 500
    .imagebox.small.pull-right
      %img{src:'assets/zaletyunimax.jpg'}
    .alternate-img
      %strong Zalety serii UNI MAX
      %br
      &#8226; Ekologiczność, niska emisja spalin, podniesiona jakość spalania dzięki ceramicznej komorze spalania
      %br
      &#8226; Niski pobór energii elektrycznej – klasa energetyczna A+
      %br
      &#8226; Ceramiczna komora palnika podnosi i stabilizuje temperaturę spalania
      %br
      &#8226; Opatentowany system dystrybucji powietrza decyduje o jakości i sprawności spalania
    .imagebox.small.pull-left
      %img{src:'assets/zestawperfect.jpg'}
    .alternate-img
      %strong Skład zestawu UNI MAX
      %p
        Kompletny palnik ze sterowaniem, czujnikami C.O. i C.W.U., okablowaniem, rura „spiro” do podłączenia palnika z podajnikiem, podajnik standardowej długości:
        %br
        &#8226; 1,5mb – dla palników do 40 kW włącznie
        %br
        &#8226; 1,95mb – dla palników 50-80 kW włącznie
        %br
        &#8226; 2mb – dla palników 100 kW i więcej
    .imagebox.small.pull-right
      %img{src:'assets/opcjeuni.jpg'}
    .alternate-img
      %strong Opcje rozszerzające
      %br
      &#8226; sterowanie pokojowe przewodowe lub bezprzewodowe 
      %br
      &#8226; przedłużenie podajnika – nawet do długości 3 mb
      %br
      &#8226; układy autouzupełniania paliwa w zasobniku – mechaniczne, ślimakowe /żmijką/ lub pneumatyczne
      %br
      &#8226; sterownik graficzny marki Plum wraz z dostępem do sterowania przez Internet