.row
  .col-md-8.col-md-offset-2
    %h2
      Seria UNI
    %hr.article-hr
.row
  .col-md-11.col-md-offset-1.justify.row
    .imagebox.small.pull-right
      %img{src:'assets/uni.jpg'}
    .alternate-img
      %p
        Palniki UNI to zdecydowanie doskonałe rozwiązanie dla domów jednorodzinnych, ale także innych obiektów, w których stawia się na ekologiczność, łatwość użytkowania, bezobsługowość i pełną automatykę. Dostosowane są do spalania pelletu drzewnego każdej jakości, co jest ważnym ekonomicznym aspektem. W urządzeniach zastosowano układ autoczyszczenia paleniska napędzany szwajcarskim mechanizmem Bellimo z 5-letnią gwarancją niezawodności. Palniki serii UNI cechuje bardzo wysoka sprawność sięgająca aż 94%, a także nadzwyczaj niski pobór energii elektrycznej (tylko 20W w czasie pracy). Palnik to rozwiązanie nadzwyczaj wygodne, gdyż cechuje go pełna automatyka oraz posiada ruchomy ruszt z autoczyszczeniem. 
    .imagebox.small.pull-left
      %img{src:'assets/mocuni.jpg'}
    .alternate-img
      %strong Moc palników serii UNI
      %p
        Palniki serii UNI dostępne są w czterech wersjach o różnej mocy:
      %table.table.table-image
        %thead
          %tr
            %td 
              %strong
                Wersja w kW
            %td 16
            %td 25
            %td 32
            %td 42
    .imagebox.small.pull-right
      %img{src:'assets/zaletyuni.jpg'}
    .alternate-img
      %strong Zalety serii UNI
      %br
      &#8226; Współpraca z termostatem pokojowym, którym kontroluje się godziny grzania ciepłej wody i temperaturę pomieszczeń
      %br
      &#8226; Ekologiczny, niska emisja spalin – na poziomie palników gazowych i olejowych
      %br
      &#8226; Modulacja mocy palnika pozwalająca na oszczędne wykorzystanie pelletu
    .imagebox.small.pull-left
      %img{src:'assets/zestawuni.jpg'}
    .alternate-img
      %strong Skład zestawu UNI
      %br
      &#8226; Palnik serii Uni
      %br
      &#8226; Sterowanie graficzne marki Key z czujnikami C.O. i C.W.U. i okablowaniem
      %br
      &#8226; Podajnik standardowej długości – 1,5mb wraz rura „spiro” do podłączenia palnika z podajnikiem
      %br
      &#8226; Zapasowy wkład zapalarki w komplecie
    .imagebox.small.pull-right
      %img{src:'assets/opcjeuni.jpg'}
    .alternate-img
      %strong Opcje rozszerzające
      %br
      &#8226; sterowanie pokojowe przewodowe lub bezprzewodowe 
      %br
      &#8226; przedłużenie podajnika – nawet do długości 3 mb
      %br
      &#8226; układy autouzupełniania paliwa w zasobniku – mechaniczne, ślimakowe /żmijką/ lub pneumatyczne
      %br
      &#8226; sterownik graficzny marki Plum wraz z dostępem do sterowania przez Internet