.row
  .col-md-8.col-md-offset-2
    %h2
      Seria VIP
    %hr.article-hr
.row
  .col-md-11.col-md-offset-1.justify.row
    .imagebox.small.pull-right
      %img{src:'assets/vip.jpg'}
    .alternate-img
      %p
        Palniki z serii VIP to bezobsługowe i całkowicie samoczyszczące rozwiązanie do Twojego domu. Dedykowane są do spalania pelletów przemysłowych i agro-pelletów. Główną zaletą serii jest ulepszony sposób automatycznego czyszczenia palnika, który wyposażony jest w zespół ruchomego rusztu pozwalający na utrzymanie niezmiennych warunków spalania w czasie całej pracy. W ten sposób zadbaliśmy o Państwa wygodę, gdyż palniki z serii VIP są praktycznie bezobsługowe. Wymagają czyszczenia raz na kilka miesięcy, co uwarunkowane jest jakością stosowanego paliwa. Sama konstrukcja palnika, z wyjmowanym zespołem ruchomego rusztu w postaci szuflady pozwala na pełną dowolność zabudowy palnika. Palnik przy tym cechuje się wysoką sprawnością sięgającą aż 94%. Co ważne to bardzo ekonomiczne rozwiązanie, gdyż pobór energii elektrycznej to około 20W w czasie pracy. Palnik cechuje także niska emisja spalin na poziomie palników gazowych i olejowych. 
      %p
        %strong
          Palniki serii VIP są dostępne w trzech wersjach konstrukcyjnych: podstawowej – z wentylatorem umieszczonym pod palnikiem, bądź z wentylatorem umieszczonym na górze, a także z wentylatorem zintegrowanym z dołu. 
      %p
      Są dostępne dwie wersje kolorystyczne: szara, bądź pomarańczowa (z wentylatorem zintegrowanym)
    .imagebox.small.pull-left
      %img{src:'assets/mocvip.jpg'}
    .alternate-img
      %strong Moc palników serii VIP
      %p
        Palniki serii VIP dostępne są w czterech wersjach o różnej mocy:
      %table.table.table-image
        %thead
          %tr
            %td 
              %strong
                Wersja w kW
            %td 15
            %td 20
            %td 30
            %td 40
    .imagebox.small.pull-right
      %img{src:'assets/zaletyvip.jpg'}
    .alternate-img
      %strong Zalety serii VIP
      %br
      &#8226; Kompaktowa konstrukcja i gabaryty umożliwiające montaż w większości kotłów na paliwa stałe
      %br
      &#8226; Ruszt w postaci szuflady, co ułatwia czyszczenie urządzenia
      %br
      &#8226; Współpraca z termostatem pokojowym, którym kontroluje się godziny grzania ciepłej wody i temperaturę pomieszczeń
      %br
      &#8226; Modulacja mocy palnika pozwalająca na oszczędne wykorzystanie pelletu