.row
  .col-md-8.col-md-offset-2
    %h2
      Granulat pelletowy
    %hr.article-hr
.row
  .col-md-11.col-md-offset-1.justify.row
    .col-md-6.imagebox.pull-right
      %img{src: 'assets/koniel.jpg'}
    %p
      Wyściółka dla zwierząt, jaką mamy w ofercie spełnia trzy najważniejsze funkcje podkładu dla koni. Umożliwia utrzymanie czystości i wchłania płyny, co jest głównym powodem, dla którego jest tak ważna jej jakość. Po drugie izoluje cenne zwierzę, jego kopyta od podłoża, które może wywoływać szereg problemów zdrowotnych koni. Po trzecie stwarza zwierzęciu komfort leżenia i przebywania w zamknięciu. Wychodząc naprzeciw potrzebom tych szlachetnych zwierząt, jakimi są konie stworzyliśmy najlepszej jakości ściółkę na bazie specjalnie spreparowanej, naturalnej i pieczołowicie wyselekcjonowanej słomy. Nasz produkt cechuje wyjątkowa chłonność w stosunku do tradycyjnej słomy, dzięki czemu utrzymanie czystości staje się dużo łatwiejsze, a kopyta nie są narażone na kontakt z nadmiarem wilgoci. Pellet ze słomy jest odpylony i nie zawiera alergenów, co czyni go doskonałym wyborem dla koni z problemami oddechowymi. Sam pellet jest bardzo wydajny, dzięki czemu redukujemy usuwany obornik. Wygodne opakowanie ułatwia transport i przechowywanie. Nadaje się też doskonale do środków transportu, na wyścigach, czy w boksach tradycyjnych. Jako, że olbrzymią wagę przykuwamy do środowiska naturalnego produkt jest w pełni bezpieczny dla ekosystemu.
    %p
      %strong
        Jakość granulatu jest monitorowana przez nadzór weterynaryjny.
    %p
      Transport: Zapewniamy także transport pelletu. Produkt umieszczamy na paletach o wymiarach 100 x 120 cm, z zewnątrz dokładnie zabezpieczonych folią, a od
      góry kapturem foliowym, co chroni go przed niekorzystnym wpływem warunków atmosferycznych. Opakowanie zbiorcze to 990kg wyściółki, czyli 66 opakowań.