.row
  .col-md-8.col-md-offset-2
    %h2
      Charakterystyka
    %hr.article-hr
.row
  .col-md-11.col-md-offset-1.justify.row
    .imagebox.small.pull-right
      %img{src: 'http://2.bp.blogspot.com/-K9KCm_xUYNs/UxG-N9jZQ_I/AAAAAAAADHw/o5rIm9e5jks/s1600/Horsie.jpg'}
    %p.alternate-img
      %strong 100% naturalny produkt
      %br
      Pellet wyprodukowany jest z naturalnej słomy, która najpierw przechodzi przez dokładną selekcję. Słoma poddawana jest procesowi powietrzno – termicznemu. Co ważne jest zupełnie wolna od bakterii, grzybów, pestycydów, pleśni i szkodników. Przed rozpoczęciem właściwego procesu produkcyjnego ze słomy usuwany jest cały pył oraz wszelkie drobne zanieczyszczenia.
    .imagebox.small.pull-left
      %img{src: 'http://2.bp.blogspot.com/-K9KCm_xUYNs/UxG-N9jZQ_I/AAAAAAAADHw/o5rIm9e5jks/s1600/Horsie.jpg'}
    %p.alternate-img
      %strong Wysoka wchłanialność
      %br
      Nasz produkt posiada nieprzeciętnie wysoki poziom wchłanialności, czyli absorbcji wilgotności, bo aż 450%. Takie rozwiązanie pozwoli na rzadsze pełne oczyszczanie boksów, a także zdrowie koni, których wrażliwe na wilgoć kopyta będą w pełni bezpieczne.     .imagebox.small.pull-right
    .imagebox.small.pull-right
      %img{src: 'http://2.bp.blogspot.com/-K9KCm_xUYNs/UxG-N9jZQ_I/AAAAAAAADHw/o5rIm9e5jks/s1600/Horsie.jpg'}
    %p.alternate-img
      %strong Nieprzeciętna wydajność
      %br
      Granulat jest niezwykle wydajną formą wyściółki dla koni. Oporządzanie koni będzie nie tylko rzadsze, ale i krótsze, gdyż pellet wiąże się w łatwe do oczyszczenia części. 
    .imagebox.small.pull-left
      %img{src: 'http://2.bp.blogspot.com/-K9KCm_xUYNs/UxG-N9jZQ_I/AAAAAAAADHw/o5rIm9e5jks/s1600/Horsie.jpg'}
    %p.alternate-img
      %strong Rewelacyjna izolacja
      %br
      Przede wszystkim stworzyliśmy ten produkt z myślą o zdrowiu koni, które jako majestatyczne i wymagające zwierzęta są ciężkie do utrzymania w dobrej kondycji zdrowotnej. Pellet chroni je przed zimnem i wilgocią, które to są jednym z częstszych powodów zachorowań wśród zwierząt.
    .imagebox.small.pull-right
      %img{src: 'http://2.bp.blogspot.com/-K9KCm_xUYNs/UxG-N9jZQ_I/AAAAAAAADHw/o5rIm9e5jks/s1600/Horsie.jpg'}
    %p.alternate-img
      %strong Wysokiej jakości kompost
      %br
      Obornik, który powstaje na bazie naszego pelletu podlega szybkiej biodegradacji i transformacji w wysokiej jakości humus, który z powodzeniem może być stosowany jako naturalny i niezwykle wydajny nawóz organiczny.
    .imagebox.small.pull-left
      %img{src: 'http://2.bp.blogspot.com/-K9KCm_xUYNs/UxG-N9jZQ_I/AAAAAAAADHw/o5rIm9e5jks/s1600/Horsie.jpg'}
    %p.alternate-img
      %strong Bezzapachowy
      %br
      Doskonałe właściwości absorpcyjne naszego pelletu ze słowy zapewniają niemalże pełną redukcję zapachu i oparów amoniaku, co bezpośrednio wpływa na opiekuna zwierząt. Bez obaw, nawet osoby z alergią, mogą przebywać w boksach z wyściółką pelletową. Co niezwykle ważne takie rozwiązanie zapewnia czystość w stajniach oraz świeży zapach.
    .imagebox.small.pull-right
      %img{src: 'http://2.bp.blogspot.com/-K9KCm_xUYNs/UxG-N9jZQ_I/AAAAAAAADHw/o5rIm9e5jks/s1600/Horsie.jpg'}
    %p.alternate-img
      %strong Zawartość i pakowanie
      %br
      Pellet nie zawiera żadnych substancji szkodliwych, przykrych zapachów, ale także nie powoduje alergii zarówno u koni, jak i ludzi. Może być stosowany nawet w przypadku zwierząt z problemami z drogami oddechowymi. Samo opakowanie jest wygodne w stosowaniu, ergonomiczne, szczelne. Traktujemy nasz produkt z wielką troską, tak aby nic nie było w stanie zaszkodzić jego wydajności, stąd transportujemy go tylko w zakrytych naczepach, szczelnie obfoliowany i w plastikowych torbach.