.row
  .col-md-8.col-md-offset-2
    %h2
      Parametry pelletu
    %hr.article-hr
.row
  .col-md-11.col-md-offset-1.justify.row
    %table.table
      %thead
        %tr
          %th Parametr
          %th Metoda badawcza
          %th Wynik
      %tbody
        %tr
          %td Zawartość wilgoci całkowitej
          %td EN 14774-2
          %td max 8%
        %tr
          %td Wchłanialność
          %td kg/litr cieczy
          %td 1:4,5
        %tr
          %td Długość pelletu
          %td mm
          %td 8
        %tr
          %td Średnica pelletu
          %td mm
          %td max 45