.carousel.cut
  =render partial: 'carousel'
.container-fluid
  .row
    .container
      .row
        .pull-right.contact
          biolife.natorski@gmail.com
          %br +48 668 416 281
    .menubar
      .container
        .row
          %img.logo{src: 'assets/logo.png'}
          .menu.pull-right
            %ul.nav.navbar-nav
              %li
                %a Home
              %li
                %a O nas
              %li
                %a Oferta
              %li
                %a Pellet
              %li
                %a Kontakt
    .container
      .row
        .pull-left.slogan
          Energia Matki Natury
.container.content
  .row.articles
  .row.footer
    #logo_beige.pull-left
      %img{src: 'assets/logo-bez.png'}
    #facebook.pull-left
      %img{src: 'assets/facebook.png'}
    .footnote.home-location.pull-right
      %strong
        Siedziba firmy:
      %hr.footer-line
      Porucznika "Ostrego" 8
      %br
      26-600 Radom
      %br
      NIP 796-001-46-77
    .footnote.sales-location.pull-right
      %strong
        Salon wystawowy:
      %hr.footer-line
      ul.Strycharska 4a
      %br
      26-600 Radom
      %br
      tel. 48 385-72-58