.row
  .row.col-sm-4.newslist
    %h2
      Aktualności
    -news.each_with_index do |n, i|
      -if i==0
        %div.snippet.active{'data-nid' => n.id}
          .caret-right
          =n.title
          %span
            =n.created_at.strftime("%d/%m/%y")
      -else
        %div.snippet{'data-nid' => n.id}
          .caret-right
          =n.title
          %span
            =n.created_at.strftime("%d/%m/%y")
  .col-sm-8.article
    =render partial: 'article', locals: {article: news.first}