.row
  .col-md-8.col-md-offset-2
    %h2
      Kotły
    %hr.article-hr
.row
  .col-md-11.col-md-offset-1.justify.row
    .col-md-6.imagebox.pull-right
      %img{src: 'assets/piece.jpg'}
    W naszej ofercie znajdą Państwo najwyższej jakości kotły na pellet. Wykonane są z żaroodpornego żeliwa, dzięki czemu można liczyć na wieloletnie bezawaryjne użytkowanie, a specjalne żeliwo sferoidalne jest odporne na korozję. Dodatkowo zastosowanie takich materiałów przy budowie podajnika zapewnia zmniejszenie głośności pracy podajnika oraz wykazuje zdecydowanie mniejszą tendencję do przekazywania drgań na pozostałe elementy kotła. Palniki z ruchomym rusztem są dodatkowym atutem tego produktu. Kotły są zbudowane tak, że bez żadnych dodatkowych kosztów, czy zmian konstrukcyjnych można stosować do nich pellet.
