.row
  .col-md-8.col-md-offset-2
    %h2
      KDC EKO
    %hr.article-hr
.row
  .col-md-11.col-md-offset-1.justify.row
    .col-md-6.imagebox.pull-right
      %img{src: 'assets/kdc eko.jpg'}
    Jest to piec posiadający dwie komory spalania: dolną z automatycznym palnikiem retortowym, wykonanym z żaroodpornego żeliwa i górną z wymiennym rusztem żeliwnym. Ma obszerną komorę przystosowaną do spalania wszelkich paliw stałych. Wysokiej jakości palnik jest przystosowany do spalania pelletu.
    %p
      %table.table
        %thead
          %tr
            %th Wyszczególnienia/typ kotła
            %th J.m
            %th 15
            %th 20
            %th 25
            %th 30
            %th 35
        %tbody
          %tr
            %th Zakres mocy
            %td kW
            %td 4,5-15
            %td 6,0-20
            %td 7,0-25
            %td 9,0-30
            %td 10,5-35
          %tr
            %th Powierzchnia grzewcza*
            %td m2
            %td 2
            %td 2,5
            %td 3
            %td 3,5
            %td 4
          %tr
            %th Powierzchnia ogrzewanych pomieszczeń
            %td m2
            %td do 150
            %td do 200
            %td do 250
            %td do 300
            %td do 350
          %tr
            %th Jednorazowy zasyp paliwa
            %td l
            %td 200
            %td 221
            %td 241
            %td 260
            %td 280
          %tr
            %th Optymalna sprawność cieplna
            %td \%
            %td.text-center{:colspan => "5"}
              88
          %tr
            %th Max. dopuszczalne ciśnienie robocze
            %td bar
            %td.text-center{:colspan => "5"}
              1,5
          %tr
            %th Wymagany ciąg spalin
            %td Pa
            %td 24
            %td 26
            %td 28
            %td 30
            %td 31
          %tr
            %th Temperatura wody na zasilaniu max.
            %td 0C
            %td.text-center{:colspan => "5"}
              65/80
          %tr
            %th Masa kotła
            %td kg
            %td 420
            %td 450
            %td 470
            %td 500
            %td 550
          %tr
            %th Pojemność wodna kotła
            %td l
            %td 55
            %td 70
            %td 78
            %td 88
            %td 102
          %tr
            %th Przekrój komina
            %td cmxcm
            %td 14x14
            %td 14x14
            %td 15x15
            %td 16x16
            %td 16x16
          %tr
            %th Przekrój komina
            %td Ømm
            %td 160
            %td 160
            %td 170
            %td 195
            %td 195
          %tr
            %th Minimalna wysokość komina
            %td m2
            %td 7
            %td 8
            %td 8
            %td 9
            %td 9
          %tr
            %th Szerokość
            %td mm
            %td 1123
            %td 1123
            %td 1123
            %td 1225
            %td 1225
          %tr
            %th Głębokość
            %td mm
            %td 536
            %td 636
            %td 741
            %td 841
            %td 941
          %tr
            %th Wysokość
            %td mm
            %td 1386
            %td 1486
            %td 1586
            %td 1586
            %td 1636
          %tr
            %th Średnica zasilania i powrotu
            %td cal
            %td.text-center{:colspan => "5"}
              1 1/2
          %tr
            %th Średnica czopucha
            %td mm
            %td 159
            %td 159
            %td 178
            %td 194
            %td 194
          %tr
            %th Zasilanie elektryczne
            %td V/Hz
            %td.text-center{:colspan => "5"}
              230/50
          %tr
            %th Maksymalny pobór mocy
            %td W
            %td 181
            %td 181
            %td 181
            %td 215
            %td 215