.body
  .container-fluid.menuspan
    =render partial: 'layouts/menubar', locals: {active: 'offer'}
  .container.content
    =render partial: 'layouts/submenu', locals: {}
=render partial: 'layouts/footer'