.body
  .container-fluid.menuspan
    =render partial: 'layouts/menubar', locals: {active: 'about'}
  .container-fluid.subsite-content
    .row
      .col-md-12.subsite-span
    .row
      .col-md-6.subsite-dark
        %h2 Biolife Arkadiusz Natorski
        %hr.footer-line
        %p
          Jesteśmy prężnie rozwijającą się firmą o jasno sprecyzowanym celu, którym jest pełnienie kompleksowych usług związanych z instalowaniem kotłowni na pellet i dostawami biomasy do klientów z całej Europy. Istniejemy na rynku od 2013 roku, a mimo tak krótkiego okresu działalności zyskaliśmy już stałych klientów zarówno z Polski, jak i zagranicy. Jesteśmy czołowym dostawcą pelletu do Włoch, Francji, Niemiec, Belgii, a także do odbiorców z kraju. Szukając możliwości rozwoju firmy znaleźliśmy zaufanych partnerów, dzięki którym możemy oferować także palniki, kotły na pellet i zasobniki. Dodatkowo poszerzyliśmy swą ofertę o modernizację już istniejących kotłowni olejowych, gazowych, czy węglowych na nowoczesne, ekologiczne rozwiązanie, jakim są kotły na pellet.
      .col-md-6.subsite-light
        .subsite-light-holder
        %img{src: 'assets/about.png'}
  =render partial: 'layouts/footer', locals: {content: 'partners'}
