.container-fluid.menuspan
  =render partial: 'layouts/menubar', locals: {active: 'about'}
.container-fluid.about-content
  .row
    .col-md-12.about-span
  .row
    .col-md-6.about-text
      %h2 Biolife Arkadiusz Natorski
      %hr.footer-line
      %p
        Jesteśmy młodą, prężnie rozwijającą się firmą o jasno sprecyzowanym celu, którym jest pełnienie kompleksowych usług związanych z instalowaniem i dostawami biomasy do klientów z całej Europy. Istniejemy na rynku od 2013 roku, a mimo tak krótkiego okresu działalności zyskaliśmy już stałych klientów zarówno z Polski, jak i zagranicy. Dostarczamy pellet do Włoch, Francji, Niemiec, Belgii, a także do odbiorców z kraju. Szukając możliwości rozwoju firmy znaleźliśmy zaufanych partnerów, dzięki którym możemy oferować także piece, palniki i kotły na pellet. Dodatkowo poszerzyliśmy swą ofertę o przeróbkę już istniejących kotłowni olejowych, gazowych, czy węglowych na nowoczesne, ekologiczne rozwiązanie, jakim są piece na pellet.
    .col-md-6.about-image
      .about-image-holder
      %img{src: 'assets/about.png'}
=render partial: 'layouts/footer', locals: {content: 'partners'}