.body
  .container-fluid.menuspan
    =render partial: 'layouts/menubar', locals: {active: 'contact'}
  .container-fluid.subsite-content
    .row
      .col-md-12.subsite-span
    .row
      .col-md-6.subsite-dark
        %p.contact-title Biolife Arkadiusz Natorski
        %hr.footer-line
        .row.text-left
          .col-md-6
            .col-md-12
              %p
                %strong
                  Dane teleadresowe:
                %p
                  ul. Porucznika "Ostrego" 8
                  %br
                  26-600 Radom
                  %br
                  Polska
                  %br
                  NIP 796-001-46-77
                  %br
                  REGON 670169987
            .col-md-12
              %p
                %strong
                  Salony wystawowe:
                %p
                  Galeria Kotłów
                  %br
                  ul. G.&nbspNarutowicza 35a
                  %br
                  26-600 Radom
                  %br
                  Polska
                %p
                  ul. Halinowska 3
                  %br
                  26-600 Radom
                  %br
                  Polska
          .col-md-6
            .col-md-12
              %p
                %strong
                  Właściciel firmy:
                %p
                  Arkadiusz Natorski
                  %br
                  email:&nbspbiolife.natorski@gmail.com
                  %br
                  tel: +48 668-416-281
            .col-md-12
              .subsite-small-holder
                %img{src: 'assets/contact.jpg'}
      .col-md-6.subsite-light
        %p.contact-title Napisz do nas
        %hr.footer-line
        =render 'form'
  =render partial: 'layouts/footer', locals: {content: 'partners'}
