.about-text {
  height: 100%;
  background-color: $secondary-color;
  padding: calc(5% - 5px) 5% 5% 10%;
}
.about-text p {
  font-family: $josefin;
  font-size: 18px;
  text-align: justify;
}
.about-text h2 {
  margin-top: 0px;
}
.about-image {
  background-color: $primary-color;
  height: 100%;
}
.about-content {
  margin-bottom: 5px;
  color: $primary-color;
}
.about-span {
  height: 5px;
  background-color: $secondary-color;
}
.about-image img {
  width: 85%;
  height: auto;
  margin: calc(5% - 5px) 10% 5% 5%;
  display: inherit;
}