body {
  font-family: $cinzel;
  background-color: $primary-color;
  font-color: $secondary-color;
}

.carousel {
  position: relative;
  top: 0px;
  width: 100%;
  height: 540px;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.contact {
  margin-top: 50px;
  font-size: 18px;
}
.slogan {
  font-size: 23px;
  margin-top: $menu-height;
}
.contact, .slogan {
  background-color: $secondary-color;
  color: $primary-color;
  position: relative;
  padding: 0px 15px 0px 15px;
}

.menubar {
  position: absolute;
  left: 0px;
  right: 0px;
  height: $menu-height;
  background-color: $primary-color;
  font-family: $cinzel;
}
.menubar .row {
  background-color: $primary-color;
  position: relative;
  z-index: 3;
}
.cut {
  margin: 0;
  padding: 0;
}

.menubar img {
    position:absolute;
    max-height:100%;
    max-width:100%;
}

.menu {
  height: $menu-height;
}

.menuspan {
  min-height: $menu-height;
}

.navbar-nav > li > a {
  height: 100%;
  line-height: 120px;
  font-size: 20px;
  color: $secondary-color;
  transition: 0.4s;
}

.navbar-nav > li > a:hover, .navbar-nav > li.active > a {
  background-color: $tertiary-color;
  color: $primary-color;
  cursor: pointer;
}
.nav > li > a:focus {
  background: initial;
  color: $secondary-color;
  outline: 0;
}

.footer {
  background-color: $secondary-color;
  color: $primary-color;
  display: table;
  width: 100%;
}

.quarter {
  width: 25%;
}
.three-quarters {
  width: 75%;
}

#logo_beige {
  display: table-cell;
  vertical-align: middle;
}
#logo_beige img{
  height: 175px;
  margin-top: 10px;
}
#facebook {
  display: table-cell;
  vertical-align: middle;
}
#facebook #fb_background {
  display: block;
  height: 55px;
  width: 55px;
  background-image: url('fb2.png');
  background-size: 100%;
}
#fb_background img {
  height: 100%;
  width: auto;
  transition: 0.4s;
}
#fb_background img:hover {
  opacity: 0;
}
.footnote {
  display: table-cell;
  vertical-align: middle;
  min-width: 20%;
  margin-right: 10%;
  font-size: 18px;
}
.content {
  position: relative;
  width: 100%;
  font-family: $josefin;
}
.articles {
  height: 200px;
}
.footer-line {
  width: 65%;
  margin-left: 0px;
  border-color: $tertiary-color;
  -webkit-box-shadow: 0px 0px 5px 1px $tertiary-color;
  -moz-box-shadow: 0px 0px 7px 1px $tertiary-color;
  box-shadow: 0px 0px 7px 1px $tertiary-color;
}
.offer-line {
  z-index: 10;
  width: 75%;
  margin: 0 auto;
  border-color: $tertiary-color;
  -webkit-box-shadow: 0px 0px 5px 1px $tertiary-color;
  -moz-box-shadow: 0px 0px 7px 1px $tertiary-color;
  box-shadow: 0px 0px 7px 1px $tertiary-color;
  transition: 0.4s;
}
#carousel_partners {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.carousel .glyphicon-triangle-left, .carousel .glyphicon-triangle-right {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  z-index: 5;
  display: inline-block;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;  
}
#carousel_partners .carousel-inner {
  text-align: center;
}
#carousel_partners img {
  max-height: 150px;
  max-width: 80%;
  margin: auto;
  display: inline-block;
}
.footnote p {
  display: table-cell;
  vertical-align: middle;
}
.carousel-control {
  color: $primary-color;
}
.carousel-control:hover {
  color: $primary-color;
}
#carousel_partners .carousel-inner>.next,
#carousel_partners .carousel-inner>.prev{
    line-height: 150px;
}
.justify {
  text-align: justify;
}

.dropdown:active {
  background-color: $secondary-color;
  color: $primary-color;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: $secondary-color;
  color: $primary-color;
}
.dropdown-menu>li {
    display: table-cell;
}
.menu-img{
  height: 200px;
}
.offers {
  top: -150px;
  opacity: 0;  
  z-index: -1;
  padding: 0;
  color: $primary-color;
  background-color: $secondary-color;
  height: 175px;
  transition: 0.6s;
}
.offers .offer {
  padding-top: 10px;
  height: 100%;
  text-align: center;
  font-size: 20px;
  transition: 0.4s;
}
.offers .offer:hover {
  color: $primary-color;
  background-color: $tertiary-color;
  cursor: pointer;
}
.offers .offer:hover hr {
  border-color: $secondary-color;
  -webkit-box-shadow: 0px 0px 5px 1px $secondary-color;
  -moz-box-shadow: 0px 0px 7px 1px $secondary-color;
  box-shadow: 0px 0px 7px 1px $secondary-color;
}
.offers .offer:hover .offer-img-holder {
  background-color: $secondary-color;
}
.offers .offer img {
  margin-top: 3px;
  position: relative;
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(7deg);
}
.offers .offer p {
  height: 33%;
  width: 100%;
  display: table;
  line-height: 21px;
}
.offers .offer p span {
  display: table-cell;
  vertical-align: middle;
}
.offer-img-holder {
  display: inline-block;
  position: relative;
  height: 67%;
  padding-bottom: 9px;
  background-color: $tertiary-color;
  -ms-transform: rotate(-7deg); /* IE 9 */
  -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
  transform: rotate(-7deg);
  transition: 0.4s;
}
#offer a.active {
  background-color: $secondary-color;
  color: $primary-color;
}