@import url(https://fonts.googleapis.com/css?family=Cinzel:400,700);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,700italic,400italic&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC&subset=latin,latin-ext);

$cinzel: 'Cinzel', serif;
$josefin: 'Josefin Slab', serif;
$playfair: 'Playfair Display SC', sans-serif;

$primary-color: #D2B37A;
$secondary-color: #200E0A;
$tertiary-color: #771B15;

$menu-height: 150px;
$footer-height: 185px;