@import url(https://fonts.googleapis.com/css?family=Cinzel:400,700);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,700,400italic,700italic);

$cinzel: 'Cinzel', serif;
$josefin: 'Josefin Slab', serif;

$primary-color: #D2B37A;
$secondary-color: #200E0A;
$tertiary-color: #771B15;

$menu-height: 150px;