-content ||= nil
.container-fluid.footer
  #logo_beige.quarter
    %img{src: 'assets/logo-bez.png'}
  -if content.blank?
    #facebook.quarter
      %a#fb_background{href: 'https://www.facebook.com/BIO-Life-165676983633199', target: 'blank'}
        %img{src: 'assets/facebook.png'}
    .footnote.home-location.quarter
      %strong
        Siedziba firmy:
      %hr.footer-line
      Porucznika "Ostrego" 8
      %br
      26-600 Radom
      %br
      NIP 796-001-46-77
    .footnote.sales-location.quarter
      %strong
        Salon wystawowy:
      %hr.footer-line
      ul.Strycharska 4a
      %br
      26-600 Radom
      %br
      tel. 48 385-72-58
  -elsif content=='partners'
    .footnote.three-quarters
      %p partnerzy:
      #carousel_partners.carousel.slide{"data-ride" => "carousel", "data-pause" => "", "data-keyboard" => "false", "data-interval" => "1500"}
        / Wrapper for slides
        .carousel-inner{:role => "listbox"}
          .item.active
            %img{src: "assets/eco-palnik.png"}
          .item
            %img{src: "assets/zebiec.png"}
          .item
            %img{src: "assets/defro.png"}
          .item
            %img{src: "assets/thlogo.png"}
          .item
            %img{src: "assets/kawah.png"}
          .item
            %img{src: "assets/buderus.png"}
        / Controls
        %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel_partners", :role => "button"}
          %span.glyphicon.glyphicon-triangle-left{"aria-hidden" => "true"}
          %span.sr-only Previous
        %a.right.carousel-control{"data-slide" => "next", :href => "#carousel_partners", :role => "button"}
          %span.glyphicon.glyphicon-triangle-right{"aria-hidden" => "true"}
          %span.sr-only Next
