-if active=='home'
  .row
    .container
      .row
        .pull-right.contact
          biolife.natorski@gmail.com
          %br +48 668 416 281
.menubar
  .container
    .row
      %img.logo{src: 'assets/logo.png'}
      .menu.pull-right
        %ul.nav.navbar-nav{'data-active' => active}
          %li
            =link_to 'Home', root_path
          %li#about
            =link_to 'O nas', about_path 
          %li#offer
            %a Oferta
          %li#pellet
            %a Pellet
          %li#contact
            %a Kontakt
-if active=='home'
  .container
    .row
      .pull-left.slogan
        Energia Matki Natury