-if active=='home'
  .row
    .container
      .row
        .pull-right.contact
          biolife.natorski@gmail.com
          %br +48 668 416 281
.menubar
  .container
    .row
      %img.logo{src: 'assets/logo.png'}
      .menu.pull-right
        %ul.nav.navbar-nav{'data-active' => active}
          %li
            =link_to 'Home', root_path
          %li#about
            =link_to 'O nas', about_path 
          %li#offer
            %a{href: '#'}
              Oferta
          %li#pellet
            =link_to 'Pellet', pellet_path
          %li#contact
            =link_to 'Kontakt', contact_path
    .offers.col-sm-9.pull-right.slidup
      %a.col-sm-3.offer{href: 'modernization'}
        .offer-img-holder
          %img{src: 'assets/modernizacja.jpg'}
        %p
          %span
            modernizacja pieca
      %a.col-sm-3.offer{href: 'burners'}
        .offer-img-holder
          %img{src: 'assets/palniki.jpg'}
        %p
          %span
            palniki
      %a.col-sm-3.offer{href: 'furnaces'}
        .offer-img-holder
          %img{src: 'assets/piece.jpg'}
        %p
          %span
            piece
      %a.col-sm-3.offer{href: 'pellets'}
        .offer-img-holder
          %img{src: 'assets/pellet-offer.jpg'}
        %p
          %span
            pellet
      %a.col-sm-3.offer{href: 'granulate'}
        .offer-img-holder
          %img{src: 'http://2007.poff.ee/sleepwalkers/upload/7/Polle_Horsie_still11[1].JPG'}
        %p
          %span
            granulat pelletowy
-if active=='home'
  .container
    .row
      .pull-left.slogan
        Energia Matki Natury